{% extends "base.html" %}
{% block content %}
<h2>Add Vehicle</h2>
<form method="post" action="/vehicles">
    <label>Make: <input type="text" name="make"></label><br>
    <label>Model: <input type="text" name="model"></label><br>
    <label>License Plate: <input type="text" name="license_plate"></label><br>
    <label>Year: <input type="text" name="year"></label><br>
    <label>VIN Number: <input type="text" name="vin_number"></label><br>
    <label>Insurance Expiration: <input type="date" name="insurance_expiration"></label><br>
    <label>Registration Expiration: <input type="date" name="registration_expiration"></label><br>
    <button type="submit">Create Vehicle</button>
</form>
{% endblock %}